doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  link(rel='stylesheet' href='/stylesheets/article.css')
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtSDjMSesCZFoJNZ06PknkmdHtvV4YrS4&callback=initMap")
  title #{data.title}
header.fixed-top.bg-dark(style='display:block;')
  nav.d-flex.justify-content-between.text-white(style='width:60%;height:100%;margin-left: 20%;margin-right: 20%;')
    // pt-3 pl-5 pr-5 mb-2
    h1(onclick="javascript:location.href='/'") DeBug2
    .btn-group.m-2
      button.btn.btn-danger.dropdown-toggle.user_id(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        | #{user_id}
      .dropdown-menu
        a.dropdown-item.person_info(href='/user_info') 個人資料
        .dropdown-divider
        a.dropdown-item.sign_out(href='/sign_out') 登出
section(style='width:60%;margin:80px 20% 0 20%')
  .articleWrap
    if(data.user_id === user_id)
      .action(style='text-align: right;')
        button.btn.btn-outline-primary.update_article.mb-2.mr-2(type='button') 編輯
        button.btn.btn-outline-dark.delete_article.mb-2(type='button') 刪除
    .articleHeader.d-flex.align-items-start.flex-column.mb-3
      .articleTitle.p-2
        h3 #{data.title}
      input#edit_title.form-control(style="display:none;" type='text'  value="title")
      .artitlePoster.p-2
        h4 #{data.user_id}
    .articleBody
      .articleMain
        if(data.markdown!==null)
          p.markdown #{data.markdown}
        if(data.pic_url!==null)
          image(src=data.pic_url)

        .form-group#edit_main(style="display:none;")
          textarea#markdown.form-control(rows='5')

        button#edit_button.btn.btn-outline-primary.mb-2.mr-2(style="display:none;" type='button') 確認送出

      #map(style="height:200px;width:100%;margin-bottom:15px;")
      .artitleMid.p-2.d-flex.align-items-center
        h4.mr-2 回覆
        // <a href="/" class="badge badge-primary">new response</a>
      .articleResponse.d-flex.flex-column
        //- #someone_res.d-flex.justify-content-between.align-items-center
        //-   div user_id : #{content}
        //-   div
        //-     a.badge.badge-primary.mr-2( style='color: white;') update
        //-     a.badge.badge-danger( style='color: white;') delete
        //- #someone_res.d-flex.justify-content-between.align-items-center
        //-   .who_response_content user_id : #{content}
        //-   .who_response_button
        //-     a.badge.badge-primary.mr-2( style='color: white;') update
      form.create_response.mt-4(style='margin-bottom: 3em;')
        //-     a.badge.badge-danger( style='color: white;') delete
        input#response_content.form-control(type='text' placeholder='請輸入回覆…' name='response_content' style='display:inline;width: 80%;margin-right: 10px;')
        button.btn.btn-dark.post_response.mb-2.btn-sm(type='submit') 送出
#longitude(style='display:none;') #{data.longitude}
#latitude(style='display:none;') #{data.latitude}
#altitude(style='display:none;') #{data.altitude}
#board_id(style='display:none;') #{board_id}
#article_id(style='display:none;') #{data.article_id}
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://cdn.jsdelivr.net/npm/marked/marked.min.js')
script(src='/JS/Article.js')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
