doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  script(src=' https://code.jquery.com/jquery-3.1.1.min.js')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  title User_info
header(style='height: 120px;width:60%;;margin-left: 20%;margin-right: 20%;')
  .fixed-top.bg-dark(style='display:block;')
    nav.d-flex.justify-content-between.text-white(style='width:60%;height:100%;margin-left: 20%;margin-right: 20%;')
      // pt-3 pl-5 pr-5 mb-2
      h1(onclick="javascript:location.href='Home'") DeBug2
section.pt-5(style='height: 100%;width:40%;;margin-left: 30%;margin-right: 30%; ')
  h3.mb-5(style='text-align: center;') Personal Information
  ul#myTab.nav.nav-tabs.mb-3(role='tablist')
    li.nav-item
      a#home-tab.nav-link.active(data-toggle='tab' href='#home' role='tab' aria-controls='home' aria-selected='true') Home
    li.nav-item
      a#subscribe-tab.nav-link(data-toggle='tab' href='#subscribe' role='tab' aria-controls='subscribe' aria-selected='false') Subscribe
    li.nav-item
      a#manage-tab.nav-link(data-toggle='tab' href='#manage' role='tab' aria-controls='manage' aria-selected='false') Manage
  #myTabContent.tab-content
    #home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab')
      .d-flex.align-items-stretch.mb-5
        .d-flex.flex-column.justify-content-center(style='width:100%')
          p.font-weight-bold UserID: #{user_id}
          p.font-weight-bold.find_user_id(style="display:none;") #{user_id}
          p.font-weight-bold.find_user_nickname(style="display:none;") #{nickname}
          p.font-weight-bold Nickname: #{nickname}
          p.font-weight-bold Join Time: #{new Date(join_time*1000)}
          p.font-weight-bold Last active time: #{new Date(last_active_time*1000)}
      .d-flex.justify-content-end
        a.btn.btn-outline-primary.mr-3(href='change' type='button') Change password and nickname
        button.btn.btn-outline-danger.delete_account(type='button' data-toggle='modal' data-target='#exampleModal') Delete account
    #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Warning
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            | Are you sure you want to delete your account?
          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') Close
            button.btn.btn-danger.sure_delete_account(type='button') delete
    #subscribe.tab-pane.fade(role='tabpanel' aria-labelledby='subscribe-tab')
      .subscribe_list
      // <p class="font-weight-bold">A</p>
    #manage.tab-pane.fade(role='tabpanel' aria-labelledby='manage-tab')
      .manage_list
      // <p class="font-weight-bold">A</p>
      .d-flex.justify-content-end.mt-3
        button.btn.btn-outline-dark.go_own_board_page.mr-3 Go own board page
        .dropdown.show
          a#dropdownMenuLink.btn.btn-outline-primary.dropdown-toggle( role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | Own page Visiable
          .dropdown-menu(aria-labelledby='dropdownMenuLink')
            a.dropdown-item.type_true Yes
            a.dropdown-item.type_false No

// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='/JS/userinfo.js' defer='')
//script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
